<style>
    .SUBSCRIBE-BUTTON{
        background-color: rgb(200, 0, 0);
        color:white;
        border:none;
        height:40px;
        width:105px;
        border-radius: 2px;
        cursor:pointer;
        margin-right: 20px;
        transition:opacity 1s; ;
    }
    .SUBSCRIBE-BUTTON:hover{
        opacity: 0.7;
    }
    .SUBSCRIBE-BUTTON:active{
        opacity: 0.5;
    }
    .join-button:hover{
        background-color: rgb(41,118,211);
        color:white;
    }
    .join-button:active{
        opacity:0.8;
    }
    .join-button{
        background-color: white;
        border-color: rgb(41,118,211);
        border-style:solid;
        border-width:1px;
        color:rgb(41,118,211);
        height:40px;
        width:65px;
        border-radius:2px;
        cursor: pointer;
        margin-right: 20px;
        transition: background-color 1s,color 1s;
    }
    .tweet-button{
        background-color: rgb(2, 158, 255);
        color:white;
        border: none;
        border-color: rgb(2, 158, 255);
        height: 40px;
        width:75px;
        border-radius:20px;
        cursor: pointer;
        font-size: 15px;
        margin-right:20px;
        transition: box-shadow 0.5s;
    }
    .tweet-button:hover{
        box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    }
    .request-button{
        background-color: black;
        color:white;
        height:30px;
        width:120px;
        border:none;
        cursor: pointer;
        margin-right: 20px;
        transition:opacity 0.5s;
    }
    .request-button:hover{
        opacity: 0.8;
    }
    .cart-button{
        background-color: rgb(255, 216, 20);
        border:none;
        height:30px;
        width:150px;
        border-radius:17px;
        margin-right:20px;
        cursor: pointer;
        transition:background-color 0.5s
    }
    .cart-button:hover{
        background-color: rgb(226, 190, 11);
    }
    .sign-button{
        background-color: rgb(46,164,79);
        color:white;
        height:30px;
        width:80px;
        border-radius:6px;
        border:none;
        cursor: pointer;
    }
    .sign-button:hover{
        box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    }
    .get-button{
        background-color: rgb(121, 82, 179);
        border:none;
        height:30px;
        width:100px;
        color:white;
        border-radius:2px;
        cursor: pointer;
        margin-right: 5px;
        transition: background-color 0.5s;

    }
    .get-button:hover{
        background-color: rgb(141, 97, 207);
    }
    .Download-button{
        height:30px;
        width:100px;
        color: rgb(109,117,125);
        background-color: white;
        border-color: rgb(109,117,125);
        border-radius: 2px;
        border-width: 1px;
        cursor: pointer;
        transition:background-color 0.5s,color 0.5s;
    }
    .Download-button:hover{
        background-color:rgb(109,117,125) ;
        color:white;
    }
    .apply{
        background-color: rgb(10,102,194);
        height:30px;
        width:220px;
        border:none;
        border-radius: 15px;
        color:white;
        margin-right: 5px;
        cursor: pointer;
        transition:background-color 0.5s;
    }
    .apply:hover{
        background-color: blue;
    }
    .save{
        background-color: white;
        border-width: 1px;
        color:rgb(10,102,194);
        height:30px;
        width: 70px;
        border-radius: 15px;
        border-color: rgb(10,102,194);
        cursor: pointer;
        transition:background-color 0.5s,border-width 0.5s;
    }
    .save:hover{
        border-width:2px;
        background-color:rgb(184, 212, 241) ;
    }
</style>