<style>
     p{
        font-family: arial;
     }
     .video-titile{
        font-weight:bold;
        font-size:18px;
        width:300px;
        line-height: 24px;
        margin-bottom: 5px;
     }
     .video-stats{
        font-size: 14px;
        color:rgb(96,96,96);
        margin-top: 5px;
     }
     .video-author{
        font-size: 14px;
        color:rgb(96,96,96);
        margin-top: 10px;
        margin-bottom: 20px;
     }
     .video-description{
        font-size:14px;
        color:rgb(96,96,96);
        width:280px;
        line-height: 24px;
        margin-top:0;
        margin-bottom: 100px;
     }
     .apple{
        margin-bottom:50px;
        font-size: 14px;
        background-color: rgb(227,65,64);
        color:white;
        text-align: center;
        padding-top: 18px;
        padding:18px;
     }
     .shop:hover{
        text-decoration: underline;
        cursor: pointer;
     }
     .new{
        text-align: center;
        color:rgb(243, 164, 17);
        font-size: 15px;
        font-weight: bold;

     }
     .mac{
        text-align: center;
        font-weight: bold;
        margin-top:0;
        margin-bottom: 0;
     }
     .super{
        text-align: center;
        font-weight: bolder;
        font-size: 30px;
     }
     .from{
        text-align: center;
        font-size: 15px;
     }
     .but{
      margin-left: 652px;
      background-color: rgb(0, 81, 255);
      color: white;
      border-radius: 10px;
      width: 50px;
      height: 25px;
      border: none;
     }
</style>