    div
    {
        font-family: Roboto,arial;
    }
    .black{
        color:rgb(0,118,0);
    }
    a{
        color:rgb(0,113,113);
    }
    .cart{
        background-color: rgb(255,216,20);
        height:30px;
        width:100px;
        border:none;
        border-radius:15px;
        cursor: pointer;
        margin-right: 8px;
    }
    .buy{
        background-color: rgb(255,164,28);
        height:30px;
        width:100px;
        border:none;
        border-radius:15px;
        cursor: pointer;
        font-weight: bold;

    }
    .cat{
                width: 200px;
                border-radius: 15px;
            }
            .cat1{
                margin-left: 20px;
                margin-top: 20px;
                width: 150px;
                height: 150px;
                object-fit: cover;
                
            }
            .cat2{
                margin-left: 20px;
                margin-top: 30px;
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius:100px;
                object-position: center;
            }
            .Searchbar{
                margin-left: auto;
                margin-right: auto;
                border-radius: 30px;
                border-width: 0px;
                font-size: 16px;
                box-shadow: 0 1px 5px rgba(0,0,0,0.25);
                padding-top: 12px;
                padding-left: 15px;
                padding-bottom: 12px;
                padding-right: 15px;
                width: 500px;
                display: block;
            }
            .email
            {
                color: rgb(72, 73, 75);
                font-family: 'Courier New', Courier, monospace;
            }
            .email-box
            {
                margin-top: 10px;
                padding-top: 15px;
                width: 500px;
                border-radius: 5px;
                border-width: 1.8px;
                border-color:black;
            }
            .condition
            {
                font-family:Arial, Helvetica, sans-serif;
                color: rgb(72, 73, 75);
            }
            .agree
            {
                margin-top: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 100px;
                padding-right: 100px;
                border-radius: 20px;
                background-color: rgb(10,102,194);
                color: white;
                border: none;
                cursor: pointer;
            }
            .cat3{
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius:100px;
                object-position: center;
                vertical-align: middle;
            }
            .text{
                color: rgb(72, 73, 75);
                vertical-align: 30px;
                padding-left: 10px;
                vertical-align: middle;
            }
            .tweet{
                vertical-align: middle;
                margin-left: 100px;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                background-color: rgb(2, 158, 255);
                border: none;
                border-radius: 20px;
                font-weight: bold;
                color: white;
                cursor: pointer;
            }
            .box,
            .boxes{
                display: block;
            }
            .para
            {
                display: inline-block;
                width: 200px;
                vertical-align: middle;
            }
            .yes,
            .no{
                display: inline-block;
                vertical-align: middle;
            }
            .google
            {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .first,
            .last
            {
                display: inline;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 8px;
                border-radius: 5px;
                border-width: 1px;
            }
            .mail
            {
                padding-top: 8px;
                padding-bottom: 8px;
                padding-right: 188px;
                margin-top: 20px;
                padding-left: 8px;
                display: block;
                border-radius: 5px;
                border-width: 1px;
            }
            .sign
            {
                background-color: rgb(16, 109, 167);
                border: none;
                border-radius: 5px;
                padding-left: 160px;
                padding-right: 160px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-top: 10px;
                color: white;
                font-size: 13px;
                cursor: pointer;
            }
            .loc
            {
                display: block;
                padding-left: 15px;
                padding-right: 150px;
                padding-top: 8px;
                padding-bottom: 8px;
                box-shadow: 0 1px 5px rgba(0,0,0,0.25);
                border: none;
            }
            .dest
            {
                display: block;
                padding-left: 15px;
                padding-right: 150px;
                padding-top: 8px;
                padding-bottom: 8px;
                margin-top: 8px;
                box-shadow: 0 1px 5px rgba(0,0,0,0.25);
                border: none;
                
            }
            .request
            {
                margin-top: 30px;
                background-color: black;
                color: white;
                border: none;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                cursor: pointer;
            }
            .shedule
            {
                margin-top: 30px;
                border: none;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                cursor: pointer;
                box-shadow: 0 1px 5px rgba(0,0,0,0.25);
                margin-left: 20px;
            }
            .square
            {
                background-color: rgb(201, 6, 6);
                width: 100px;
                height: 100px;
                margin-top: 10px;
            }
            .circle
            {
                background-color: green;
                border-radius: 100px;
                height: 100px;
                width: 100px;
                margin-top: 10px;
            }
            .box
            {
                border-width: 1px;
                border: solid;
                border-color: rgb(150,150,150);
                width: 300px;
                padding-left: 10px;padding-bottom: 15px;
                margin-top: 10px;
            }
            .blacks{
                border: solid;
                background-color: black;
                width: 350px;
                margin-top: 10px;
                padding-left: 10px;
            }
            .install
            {
                color: white;
            }
            .ut{
                color: rgb(150,150,150);
            }
            .design
            {
                margin-top: 10px;
                border: solid;
                padding-left: 20px;
                width: 400px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-color: white;
                box-shadow: 0 1px 5px rgba(0,0,0,0.25);
                border-radius: 10px;
            }
            .spin
            {
                font-family: arial;
                margin-top: 0;
                margin-bottom: 0;
            }
            .create
            {
                width: 200px;
                box-shadow: 0 1px 5px rgba(0,0,0,0.3);
                margin-top: 10px;
            }
            .cat5
            {
                width: 200px;
                height: 200px;
                object-fit: cover;
                margin-bottom: 12px;
            }
            .oliver
            {
                font-size: 18px;
                margin-left: 5px;
                margin-bottom: 4px;
            }
            .friend
            {
                color: rgb(99, 98, 98);
                font-family: Arial, Helvetica, sans-serif;
                margin-left: 5px;
                margin-bottom: 12px;
            }
            .add
            {
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 15px;
                padding-right: 15px;
                margin-left: 5px;
                background-color: rgb(11, 137, 216);
                border: none;
                border-radius: 5px;
                color: white;
                margin-bottom: 10px;
            }
            .create1
            {
                display: inline-block;
                width: 200px;
                box-shadow: 0 0 5px rgba(0,0,0,0.3);
                margin-right: 15px;
                margin-top: 15px;
            }
            .center1
            {
                margin-top: 20px;
            }
            .buttons
            {
                text-align: center;
            }
            .gog
            {
                box-shadow: 0 0 5px rgba(0,0,0,0.3);
                border: none;
                font-weight: bold;
                padding-left: 5x;
                margin-top: 30px;
                font-size: 20px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                cursor: pointer;
            }
            .lucky
            {
                box-shadow: 0 0 5px rgba(0,0,0,0.3);
                border: none;
                font-weight: bold;
                padding-left: 5x;
                margin-top: 30px;
                font-size: 20px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-left: 10px;
                cursor: pointer;
            }
            .layout
            {
                margin-top: 20px;
                
                width: 300px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 5px;
            }
            .cat-profile
            {
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
            }
            .about-profile
            {
                display: inline-block;
                vertical-align: middle;
                margin-left: 15px;
                width: 150px;
            }
            .follow-profile
            {
                display: inline-block;
            }
            .follow
            {
                background-color: rgb(11, 137, 216);
                border: none;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 6px;
                padding-bottom: 6px;
                color: white;
                font-weight: bold;
            }
            .cat-name
            {
                font-weight: bold;
                font-family: arial;
            }
            .description
            {
                color: rgb(99, 98, 98);
                font-family: arial;
                padding-top: 4px;
            }
            .layout-1
            {
                box-shadow: 0 0 5px rgba(0,0,0,0.3);
                width: 400px;
                margin-left: 10px;
                padding-left: 10px;
                margin-top: 20px;
            }
            .layout-2
            {
                margin-top: 20px;
                box-shadow: 0 0 5px rgba(0,0,0,0.3);
                padding-left: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                font-family: Arial;
                width: 600px;
            }
            .html-thumbnail
            {
                display: inline-block;
                vertical-align: top;
            }
            .html-info
            {
                display: inline-block;
            }
            .html-title
            {
                padding-bottom: 30px;
            }
            .channel
            {
                padding-bottom: 20px;
                color: rgb(99, 98, 98);
            }
            .views
            {
                padding-top: 20px;
                color: rgb(99, 98, 98);
            }
            .utube-struct
            {
                margin-top: 10px;
                box-shadow: 0 0 5px rgba(0,0,0,0.3);
                margin-right: 10px;
            }
            .img
            {
                width: 250px;
                margin-right: 10px;
            }
.flexbox
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: darkorchid;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}
.left
{
    font-weight: bold;
}
.right
{
    width: 200px;
}
.down
{
    background-color: darkorchid;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-color: white;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}
.middle
{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
}
.Serachflex
{
    border-radius: 15px;
    border: none;
    padding-left: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 30px;
    width: 500px;
}
.layout-flex
            {
                margin-top: 20px;
                width: 415px;
                height: 120px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 5px;
                box-shadow: 0 0 5px rgba(0,0,0,0.3);
            }
.inbox
{
    color: rgb(143, 142, 142);
    font-size: 15px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}
.content
{
    display: inline-block;
}
.content-1
{
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}
.content-2
{
    display: inline-block;

}
.flexing
{
    justify-content: space-between;
    display: flex;
    padding-bottom: 5px;
}
.shashi
{
    margin-top: 10px;
}
.layout-flex-1
            {
                margin-top: 20px;
                width: 415px;
                height: 340px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 5px;
                box-shadow: 0 0 5px rgba(0,0,0,0.3);
                margin-top: 50px;
            }
.backend
{
    display: flex;

}
.layout-flex-2
            {
                margin-top: 20px;
                width: 415px;
                height: 150px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 5px;
                box-shadow: 0 0 5px rgba(0,0,0,0.3);
            }
.backend-1
{
    display: flex;
    margin-bottom: 20px;
}
.white
{
    background-color: white;
    padding-top: 12px;
    padding-left: 10px;
}
.shirt
{
    margin-left: 5px;
    margin-top: 5px;
    width: 380px;
    height: 280px;
    object-fit: cover;
}